/*
colors:
1. e2dbe9 - Cards
2. 6B6570 - Dim Grey
3. A8BA9A - Dry Sage
4. F9ADA0 - Powder Blush
4.5. af7e75 - sub text
5. 1A090D - Coffee Bean
*/

html, body {
  font-family: "Lucida Monospace";
  background-color: #1A090D;
  color: #1A090D;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0vh;         
  left: 50vw - size;           
  z-index: 1000;   

  position: sticky;

  height: 3rem;
  width: 80vw;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #6B6570;
}

.skills-banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 70vw;

  background-color: #1a090d5d;
  border-radius: 1rem;
  padding: 1rem;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.language {
  border: 0;
  height: fit-content;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out;
}

.techList {
  font-size: 40%;
  width: 80vw;
}

.techKnowledgeList {
  margin-left: -4rem;
}

.imgLang {
  height:5vw;
}

.language:hover {
  transform: translateY(-1rem);
}

.workCard {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #6B6570;
  background-color: #1a090d34;
  border-radius: 1rem;
  padding-left: 1rem;

  padding-top: -2rem;
}

.workTitle {
  font-size: 1.5rem;
  margin-bottom: -2rem;
}

.workCo {
  font-size: 1rem;
  margin-bottom: -2rem;
}

.workTools {
  font-size: 1rem;
  margin-bottom: -0.5rem;
}

.workDesc {
  font-size: 1rem;
  border-style: solid;
  border-radius: 1rem;
  background-color: #6B6570;
  border-color: #6B6570;

}

.std-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.btn {
  color: #1A090D;

  border-style: solid;
  border-color: #58535c3c;

  min-height: 80%;
  width:fit-content;
  min-width: 3rem;
  background-color: #6B6570;
  font-size: 1rem;
  margin-right: 1%;
  border-radius: 1rem;

  transition: transform 0.5s ease-in-out;
}

.btn:hover {
  background-color: #A8BA9A;
  transform: scale(1.2);
  z-index: 1000;
}

.page-content {
  display: block;
  padding-left: 1rem;
  font-size: 18px;
  background-color: #6B6570;
  padding-bottom: 2rem;
  margin-bottom: 1rem;

  width: 80%;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  padding: 1rem;

  border-style: solid;
  border-color: #F9ADA0;
  border-width: 2px;
  border-radius: 20px;

  width: 80vw;

  font-size: 3rem;

  justify-content: center;
  align-items: center;

  background-color: #e2dbe9;

  transition: transform 0.5s ease-in-out;
}

.card:hover .page-content { 
  height: fit-content;
  opacity: 1;
}


.card:hover .skills-banner { 
  height: fit-content;
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  text-align: center;
  font-size: 80%;
  margin-bottom: 0;
}

.card-p {
  color: #af7e75;
  font-size: 1.4rem;

  text-align: center;
  width: 60%;
}

ul {
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
}

li {
  transition: transform 0.25s ease-in-out;
}

li:hover {
  transform: scale(1.05);
  color: #F9ADA0;
}


p {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-banner {
  display: flex;
  
}

.images {
  display: flex;
  gap: 1rem;
}

.me {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;

  margin-bottom: -2rem;
}

.imgNoBella {
  width: 20rem;
  height: 10rem;
  object-fit: cover;

  border-radius: 10px;

  margin-bottom: -2rem;
}

.imgMamaKids {
  width: 10rem;
  height: 10rem;
  object-fit: cover;

  border-radius: 10px;

  margin-bottom: -2rem;
}

h4 {
  color: white;
}

h5 {
  color: white;
  margin-bottom: 0;
}

footer {
  color: rgb(225, 225, 225);
}
