/*
colors:
1. FFFFFF - White
2. 353535 - Graphite
3. D2D7DF - Pale State
*/
.banner {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #D2D7DF;
  margin: 10 right;
}

.btn {
  width: 5%;
  height: 60%;
  background-color: white;
  font: 75%;
}
