/*
colors:
1. e2dbe9 - Cards
2. 6B6570 - Dim Grey
3. A8BA9A - Dry Sage
4. F9ADA0 - Powder Blush
4.5. af7e75 - sub text
5. 1A090D - Coffee Bean
*/

:root {
  --bck-color: #1B211A;
  --subtitle-color: #1b211ab7;
  --banner-color: #628141dc;
  --border-color: #628141; 
  --btn-color: #628141;
  --btn-font-color: white;
  --accent-color: #EBD5AB;
}

html, body {
  padding: 8rem;
  padding-top:0;
  font-family: "Lucida Monospace";
  background-color: var(--bck-color);
  color: white;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  top: 0vh;         
  left: 50vw - size;           
  z-index: 1000;   

  position: sticky;

  gap: 0.5rem;

  height: fit-content;
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: var(--banner-color);
  
  .btn {
    border: none;
  }
}

.skills-banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 70vw;

  background-color: var(--banner-color);
  border-radius: 1rem;
  padding: 1rem;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.language {
  border: 0;
  height: fit-content;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out;
}

.techList {
  font-size: 40%;
  width: 80vw;
}

.techKnowledgeList {
  margin-left: -4rem;
}

.imgLang {
  height:5vw;
}

.language:hover {
  transform: translateY(-1rem);
}

.workCard {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: var(--border-color);
  background-color: var(--banner-color);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: -20vh;

  height: fit-content;
  width: 96%;
}

.workTitle {
  font-size: 1.5rem;
  margin-bottom: -2rem;
}

.workCo {
  font-size: 1rem;
  margin-bottom: -2rem;
  transition: transform 0.25s ease-in-out;
}

.workTools {
  font-size: 1rem;
  margin-bottom: -0.5rem;
  transition: transform 0.25s ease-in-out;
}

.workDesc {
  font-size: 1rem;
  border-style: solid;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--bck-color);
  border-color: var(--border-color);
  white-space: pre-line;

  transition: transform 0.25s ease-in-out;
}

.workCo:hover {
  transform: scale(1.05);
  color: #F9ADA0;
}

.workTools:hover {
  transform: scale(1.05);
  color: #F9ADA0;
}

.workDesc:hover {
  transform: scale(1.05);
  color: #F9ADA0;
}

.std-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.btn {
  color: white;

  border-style: solid;
  border-color: var(--border-color);

  min-height: 5vh;
  width:fit-content;
  min-width: 10vw;
  background-color: var(--btn-color);
  font-size: 1rem;
  margin-right: 1%;
  border-radius: 1rem;

  transition: transform 0.5s ease-in-out;
}

.btn:hover {
  background-color: #769b4f;
  transform: scale(1.2);
  z-index: 1000;
}

.page-content {
  display: block;
  padding-left: 1rem;
  font-size: 18px;
  background-color: var(--banner-color);
  padding-bottom: 2rem;
  margin-bottom: 1rem;

  border-radius: 1rem;
  width: 70vw;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  padding: 1rem;

  border-style: solid;
  border-color: var(--border-color);
  border-width: 2px;
  border-radius: 20px;

  width: 80vw;

  font-size: 3rem;

  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);

  transition: transform 0.5s ease-in-out;
}

.card:hover .page-content { 
  height: fit-content;
  opacity: 1;
}


.card:hover .skills-banner { 
  height: fit-content;
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  text-align: center;
  font-size: 80%;
  margin-bottom: 0;
}

.card-p {
  color: var(--subtitle-color);
  font-size: 1.4rem;

  text-align: center;
  width: 60%;
}

ul {
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
}

li {
  transition: transform 0.25s ease-in-out;
}

li:hover {
  transform: scale(1.05);
  color: #F9ADA0;
}


p {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-banner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 70vw;
  color: white;
  padding: 1rem;

  border-radius: 1rem;
  background-color: var(--banner-color);
}

.images {
  display: flex;
  gap: 1rem;
}

.me {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;

  margin-bottom: -2rem;
}

.imgNoBella {
  width: 50vw;
  height: 20vh;
  object-fit: cover;

  border-radius: 10px;

  margin-bottom: -2rem;
}

.imgMamaKids {
  width: 20vw;
  height: 20vh;
  object-fit: cover;

  border-radius: 10px;

  margin-bottom: -2rem;
}

h3 {
  color: var(--bck-color);
}

h4 {
  color: white;
}

h5 {
  color: white;
  margin-bottom: 0;
}

footer {
  color: rgb(225, 225, 225);
}
