/*
colors:
1. e2dbe9 - Cards
2. 6B6570 - Dim Grey
3. A8BA9A - Dry Sage
4. F9ADA0 - Powder Blush
4.5. af7e75 - sub text
5. 1A090D - Coffee Bean
*/

html, body {
  font-family: "Lucida Monospace";
  background-color: #1A090D;
  color: #1A090D;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0vh;         
  left: 50vw - size;           
  z-index: 1000;   

  position: sticky;

  height: 3rem;
  width: 80vw;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #6B6570;
}

.std-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.btn {
  color: #1A090D;

  border: 2px;
  min-height: 80%;
  width:fit-content;
  min-width: 3rem;
  background-color: #6B6570;
  font-size: 1rem;
  margin-right: 1%;
  border-radius: 10px;

  transition: transform 0.5s ease-in-out;
}

.btn:hover {
  background-color: #A8BA9A;
  transform: scale(1.2);
}

.page-content {
  display: block;
  padding-left: 1rem;
  font-size: 18px;
  background-color: #6B6570;
  padding-bottom: 2rem;
  margin-bottom: 1rem;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  padding: 1rem;

  border-style: solid;
  border-color: #F9ADA0;
  border-width: 2px;
  border-radius: 20px;

  width: 80vw;

  font-size: 3rem;

  justify-content: center;
  align-items: center;

  background-color: #e2dbe9;

  transition: transform 0.5s ease-in-out;
}

.card:hover .page-content {
  height: fit-content;
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  text-align: center;
  font-size: 80%;
  margin-bottom: 0;
}

.card-p {
  color: #af7e75;
  font-size: 1.4rem;

  text-align: center;
  width: 60%;
}

ul {
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
}

p {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-banner {
  display: flex;
  
}

.images {
  display: flex;
  gap: 1rem;
}

.me {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;

  margin-bottom: -2rem;
}

.imgNoBella {
  width: 20rem;
  height: 10rem;
  object-fit: cover;

  border-radius: 10px;

  margin-bottom: -2rem;
}

.imgMamaKids {
  width: 10rem;
  height: 10rem;
  object-fit: cover;

  border-radius: 10px;

  margin-bottom: -2rem;
}

h4 {
  color: white;
}

footer {
  color: rgb(225, 225, 225);
}
